<mat-toolbar color="primary" class="app-toolbar">
  <button
    (click)="openSidebar()"
    mat-icon-button
    aria-label="Menu icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>
    <img
      src="assets/img/odontoradiosis_logo.png"
      alt="Odontoradiosis"
      class="logo-image"
    />
  </span>
  <span class="the-toolbar-spacer"></span>

  <div class="button-bar">
    <button
      mat-raised-button
      id="openWindowSaveId"
      class="action-button"
      aria-label="Open-New-Radiography icon-button with heart icon"
      (click)="openImageSelection()"
      color="accent"
    >
      <mat-icon> folder_open </mat-icon>
      Abrir/Editar radiografia
    </button>

    <span class="the-toolbar-spacer"></span>
    <button
      mat-raised-button
      id="markSemiautomaticId"
      class="action-button"
      aria-label="Mark-Semiautomatic icon-button with share icon"
      (click)="markSemiautomatic()"
      color="accent"
    >
      <mat-icon> developer_board </mat-icon>
      Marcação semiautomática
    </button>

    <span class="the-toolbar-spacer"></span>
    <button
      mat-raised-button
      id="exportImageId"
      class="action-button"
      aria-label="Export-Image icon-button with save icon"
      (click)="exportImage()"
      color="accent"
    >
      <mat-icon>save</mat-icon>
      Salvar
    </button>
  </div>
</mat-toolbar>
