<div class="content" role="main">
  <!-- Highlight Card -->
  <div id="app">
    <!-- <navbar>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </navbar> 
    <CephalometricSidebar></CephalometricSidebar>
    <StackingCanvas></StackingCanvas>-->
    <footer class="main-footer">
      <strong>
        ©2021
        <a href="https://github.com/jictyvoo/"> João Victor Oliveira Couto </a>
        <br />
        Powered by
        <a href="https://github.com/angular/angular" target="_blank">Angular</a>
      </strong>
    </footer>
  </div>
</div>

<router-outlet></router-outlet>
