#app,
.main-footer {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
}

.main-footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 98.56%;
}

h1 {
  text-align: center;
}
