#app,
.main-footer {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
}

.main-footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0%);
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.cephalometric-card {
  // centralize it's content
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // set the width and height
  width: 96%;

  // centralize self
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0 auto;

  > mat-card-title {
    font-size: 1rem;
    text-align: start;
    margin: 0%;
  }
}

.cephalometric-canvas {
  // centralize the canvas
  position: absolute;
  top: 100%;
  align-items: center;
  width: 100%;
  height: 100%;
}
