<mat-sidenav-container
  class="sidebar-container"
  [hasBackdrop]="false"
  [style.marginTop.px]="64"
>
  <mat-sidenav #sidenav [mode]="'side'">
    <!-- Curve select -->
    <mat-nav-list>
      <mat-form-field mat-list-item appearance="fill">
        <mat-label>Curvas</mat-label>
        <mat-select
          #selectedCurve
          id="curvesId"
          (valueChange)="curveSelect($event)"
        >
          <mat-option *ngFor="let curve of supportedCurves" value="{{ curve }}">
            {{ curve }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>

      <!-- Points Select -->
      <mat-form-field mat-list-item appearance="fill">
        <mat-label>Pontos</mat-label>
        <mat-select
          #selectedPoint
          id="pointsId"
          (valueChange)="landmarkSelect($event)"
        >
          <mat-option *ngFor="let point of supportedPoints" value="{{ point }}">
            {{ point }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>

      <!-- Sliders with Effects-->
      <div class="slider-effect">
        <mat-label for="effectContrastId">Contraste</mat-label>
      </div>
      <mat-slider
        mat-list-item
        #effectContrastSlider
        (valueChange)="applyEffects('contrast', $event)"
        id="effectContrastId"
        min="0"
        max="200"
        step="1"
        [value]="contrastValue"
      >
      </mat-slider>
      <mat-divider></mat-divider>
      <div class="slider-effect">
        <mat-label for="effectBrightnessId">Brilho</mat-label>
      </div>
      <mat-slider
        mat-list-item
        #effectBrightnessSlider
        (valueChange)="applyEffects('brightness', $event)"
        id="effectBrightnessId"
        min="0"
        max="200"
        step="1"
        [value]="brightnessValue"
      >
      </mat-slider>
      <mat-divider></mat-divider>
      <div class="slider-effect">
        <mat-label for="effectInvertId">Negativo</mat-label>
      </div>
      <mat-slider
        mat-list-item
        #effectInvertSlider
        (valueChange)="applyEffects('invert', $event)"
        id="effectInvertId"
        min="0"
        max="200"
        step="1"
        [value]="0"
      >
      </mat-slider>
      <mat-divider></mat-divider>
      <div class="slider-effect">
        <mat-label for="effectGrayscaleId">Escala de Cinza</mat-label>
      </div>
      <mat-slider
        mat-list-item
        #effectGrayscaleSlider
        (valueChange)="applyEffects('grayscale', $event)"
        id="effectGrayscaleId"
        min="0"
        max="200"
        step="1"
        [value]="0"
      >
      </mat-slider>
      <mat-divider></mat-divider>

      <!-- Undone Button -->
      <button
        mat-raised-button
        class="btn btn-primary"
        type="button"
        value="Desfazer"
        id="undone-effects"
        (click)="undone()"
      >
        Desfazer
      </button>
    </mat-nav-list>

    <app-footer></app-footer>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
