<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav #drawer [mode]="'side'">
    <!-- Curve select -->
    <mat-nav-list>
      <mat-form-field mat-list-item appearance="fill">
        <mat-label>Curvas</mat-label>
        <mat-select #selectedCurve id="curvesId">
          <mat-option *ngFor="let curve of supportedCurves" value="curve">
            {{ curve }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Points Select -->
      <mat-form-field mat-list-item appearance="fill">
        <mat-label>Pontos</mat-label>
        <mat-select #selectedPoint id="pointsId">
          <mat-option *ngFor="let point of supportedPoints" value="point">
            {{ point }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Sliders with Effects-->

      <mat-label for="effectContrastId">Contraste</mat-label>
      <mat-slider
        mat-list-item
        #selectedEffect
        id="effectContrastId"
        min="0"
        max="200"
        step="1"
        [value]="0"
      >
      </mat-slider>

      <mat-label for="effectBrightnessId">Brilho</mat-label>
      <mat-slider
        mat-list-item
        #selectedEffect
        id="effectBrightnessId"
        min="0"
        max="200"
        step="1"
        [value]="0"
      >
      </mat-slider>

      <mat-label for="effectInvertId">Negativo</mat-label>
      <mat-slider
        mat-list-item
        #selectedEffect
        id="effectInvertId"
        min="0"
        max="200"
        step="1"
        [value]="0"
      >
      </mat-slider>

      <mat-label for="effectGrayscaleId">Escala de Cinza</mat-label>
      <mat-slider
        mat-list-item
        #selectedEffect
        id="effectGrayscaleId"
        min="0"
        max="200"
        step="1"
        [value]="0"
      >
      </mat-slider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    <button
      mat-raised-button
      class="btn btn-primary"
      type="button"
      value="Desfazer"
      id="undone-effects"
    >
      Desfazer
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
