mat-sidenav-content {
  padding-inline: 12px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.internal-sidebar {
  padding-left: .4%;
  padding-right: .4%;
}

#undone-effects {
  margin-top: 10%;
  margin-bottom: 20%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-effect {
  // make child elements distant from edge
  padding-top: 8px;
  flex-direction: column;
}
