/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dropzone_component_panel {
  div:has(.dialog-drop) {
    justify-content: center;
    min-width: max-content;
    display: flex;
  }

  .dialog-drop {
    display: contents;
  }
}
