<div *ngIf="hasRadiographyLoaded; then canvasBlock; else dropZoneBlock"></div>

<ng-template #canvasBlock>
  <mat-card class="cephalometric-card">
    <mat-card-title>Radiografia</mat-card-title>
    <mat-card-content class="cephalometric-canvas">
      <lib-cephalometric-canvas></lib-cephalometric-canvas>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #dropZoneBlock>
  <app-file-dropzone
    (fileLoadedEvent)="onFileLoaded($event)"
    class="content-card"
  ></app-file-dropzone>
</ng-template>
