<mat-card
  appDragNDrop
  (fileDropped)="onFileDropped($event)"
  class="content-card file-dropzone"
>
  <mat-card-title> Drag and drop file here </mat-card-title>
  <mat-card-content (click)="fileDropRef.click()">
    <input
      hidden
      multiple
      #fileDropRef
      type="file"
      id="fileDropRef"
      (change)="fileBrowseHandler($event.target)"
    />
    <div class="dashed-square">
      <p>Browse for file</p>
      <mat-icon>cloud_upload</mat-icon>
    </div>
  </mat-card-content>
  <mat-card-footer class="files-list">
    <!-- Uploaded File list -->
    <div class="single-file" *ngFor="let file of files; let i = index">
      <mat-icon>insert_drive_file</mat-icon>

      <div class="info">
        <h4 class="name">
          {{ file?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(file?.size ?? 0) }}
        </p>
        <mat-progress-bar
          mode="determinate"
          value="{{ file?.progress }}"
        ></mat-progress-bar>
      </div>

      <button mat-button class="delete" (click)="deleteFile(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
